<html data-theme="black">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta
      name="description"
      content="Feeling like you don't have skibidi aura when texting the huzz? Try rerot!"
    />
    <meta
      name="keywords"
      content="rerot, rerot text, rerot text generator, rerot text translator, rerot text converter, rerot text api, rerot text tool, rerot text online, rerot text website, rerot text app, rerot text service, rerot text program, rerot text software, rerot text code, rerot text script, rerot text plugin, rerot text extension, rerot text library, rerot text module, rerot text package, rerot text framework, rerot text system, rerot text platform, rerot text technology, rerot text tool online, rerot text tool website, rerot text tool app, rerot text tool service, rerot text tool program, rerot text tool software, rerot text tool code, rerot text tool script, rerot text tool plugin, rerot text tool extension, rerot text tool library, rerot text tool module, rerot text tool package, rerot text tool framework, rerot text tool system, rerot text tool platform, rerot text tool technology"
    />
    <meta name="author" content="ayonull" />
    <title>Rerot - Brainrot Translator</title>
  </head>
  <style>
    .outfit-bold {
      font-family: "Outfit", serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
    }
    .outfit-normal {
      font-family: "Outfit", serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }
    .outfit-italic {
      font-family: "Outfit", serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: italic;
    }
  </style>
  <body>
    <div style="margin-top: 30px" class="text-center">
      <div>
        <p class="text-4xl bold outfit-bold">Re-Rot</p>
        <p class="text-2xl bold outfit-italic">
          Feeling like you don't have skibidi aura when texting the huzz? Try
          rerot!
        </p>
      </div>
    </div>
    <div style="margin-top: 30px" class="flex justify-center gap-8">
      <div class="card bg-primary text-primary-content w-96">
        <div class="card-body">
          <h2 class="card-title">Original Text</h2>
          <textarea
            class="textarea h-36 textarea-bordered textarea-primary"
            style="resize: none"
            id="tltxt"
            placeholder="Type your text here"
          ></textarea>
          <div class="card-actions">
            <button id="tlbtn" class="btn">Translate</button>
          </div>
        </div>
      </div>
      <div class="card bg-primary text-primary-content w-96">
        <div class="card-body">
          <h2 class="card-title">Final Text</h2>
          <textarea
            class="textarea h-36 textarea-bordered textarea-primary"
            style="resize: none"
            id="tlbox"
            placeholder="Click translate to see the result (translation may take a second...)"
            readonly
          ></textarea>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $("#tlbtn").click(function() {
          var text = $("#tltxt").val();
          $.ajax({
            type: "GET",
            url: "./api/rerot?text=" + text,
            success: function (data) {
              console.log(data);
              if (data.error) {
                $("#tlbox").val(
                  "You may have placed invalid text in! English characters only!"
                );
              } else {
                $("#tlbox").val(data.data);
              }
            },
          });
        });
      });
    </script>
  </body>
</html>
